### Data Analysis using SQLITE3

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into a database
3.  Execute SQL queries to answer assignment questions

In [ ]:
import pandas as pd
import csv
import sqlite3

In [ ]:
# used this code to upload each of the csv files
from google.colab import files
uploaded = files.upload()

Saving ChicagoCensusData.csv to ChicagoCensusData.csv
Saving ChicagoCrimeData.csv to ChicagoCrimeData.csv
Saving ChicagoPublicSchools.csv to ChicagoPublicSchools.csv

In [ ]:
#converting the csv files to dataframe
df = pd.read_csv('ChicagoPublicSchools.csv')
df1 = pd.read_csv('ChicagoCensusData.csv')
df2 = pd.read_csv('ChicagoCrimeData.csv')

In [ ]:
#Establish connection with DB names ChicadoData
conn = sqlite3.connect('ChicagoData.db')

In [ ]:
#
df.to_sql('chicago_schools', conn , if_exists='replace' , index = False)
df1.to_sql('chicago_census', conn , if_exists='replace' , index = False)
df2.to_sql('chicago_crime', conn , if_exists='replace' , index = False)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [ ]:
#function named run to call my sql queries
def run(my_sql_query):
  return pd.read_sql(my_sql_query,conn)

#creating cursor object and calling execute method
cur = conn.cursor()

In [ ]:
#cur.execute(my_sql_query)

NameError: ignored

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [ ]:
run("select count(*) from chicago_crime")

   count(*)
0       533

### Problem 2

##### List community areas with per capita income less than 11000.

In [ ]:
run('''select COMMUNITY_AREA_NAME 
        from chicago_census 
          where PER_CAPITA_INCOME < 11000''')

  COMMUNITY_AREA_NAME
0  West Garfield Park
1      South Lawndale
2         Fuller Park
3           Riverdale

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [ ]:
run('''select CASE_NUMBER 
        from chicago_crime 
          where DESCRIPTION like '%minor%'
          ''')

  CASE_NUMBER
0    HL266884
1    HK238408

### Problem 4

##### List all kidnapping crimes involving a child?

In [ ]:
run('''select CASE_NUMBER 
        from chicago_crime 
          where PRIMARY_TYPE like '%kidnap%' or DESCRIPTION like '%minor%'
          ''')

  CASE_NUMBER
0    HL266884
1    HK238408
2    HN144152

### Problem 5

##### What kinds of crimes were recorded at schools?

In [ ]:
run('''select PRIMARY_TYPE 
        from chicago_crime 
          where LOCATION_DESCRIPTION like '%school%'
          ''')

In [ ]:
run('''select *
         from chicago_schools
               ''')

### Problem 6

##### List the average safety score for all types of schools.

In [ ]:
run('''select 'Elementary, Middle, or High School' , avg(SAFETY_SCORE)
         from chicago_schools
          group by 'Elementary, Middle, or High School'
               ''')

  'Elementary, Middle, or High School'  avg(SAFETY_SCORE)
0   Elementary, Middle, or High School          49.504873

In [ ]:
run("select * from chicago_census limit 2 ")

   COMMUNITY_AREA_NUMBER COMMUNITY_AREA_NAME  ...  PER_CAPITA_INCOME  HARDSHIP_INDEX
0                    1.0         Rogers Park  ...              23939            39.0
1                    2.0          West Ridge  ...              23040            46.0

[2 rows x 9 columns]

In [ ]:
run("select * from chicago_schools limit 2 ")

   School_ID  ...                     Location
0     610038  ...  (41.92449696, -87.64452163)
1     610281  ...  (41.76032435, -87.55673627)

[2 rows x 78 columns]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [ ]:
run('''select COMMUNITY_AREA_NAME 
        from chicago_census 
          order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5
          ''')

  COMMUNITY_AREA_NAME
0           Riverdale
1         Fuller Park
2           Englewood
3      North Lawndale
4  East Garfield Park

### Problem 8

##### Which community area is most crime prone?

In [ ]:
run('''select COMMUNITY_AREA_NAME
        from chicago_schools
          order by SAFETY_SCORE ASC limit 1
          ''')

  COMMUNITY_AREA_NAME
0             KENWOOD

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [ ]:
run('''select COMMUNITY_AREA_NAME 
        from chicago_census 
          where HARDSHIP_INDEX = (select max(HARDSHIP_INDEX) from chicago_census)
          ''')

  COMMUNITY_AREA_NAME
0           Riverdale

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [ ]:
run('''select COMMUNITY_AREA_NAME ,COMMUNITY_AREA_NUMBER
        from chicago_census  
          where COMMUNITY_AREA_NUMBER = (select COMMUNITY_AREA_NUMBER 
                                          from chicago_crime 
                                            group by COMMUNITY_AREA_NUMBER 
                                             order by COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 1) 
            
          ''')

Copyright © 2020 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).